/* Global */
*, *::before, *::after {
    box-sizing: border-box; }

   body {
    margin: 0;
    text-align: center;
    background: black;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif; }

    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center; }

    .section {
        padding: 108px 0; }

/* Splash */


.splash {
    margin: 0 40px;
    height: 100vh;
    position: relative;
    background-image: url("/images/background-heder.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.page-subtitle {
    font-size: 80px;
}

.btn {
    display: inline-block;
    min-width: 100px;
    margin: 5px auto 0 auto;
    padding: 20px 40px;
    border-radius: 3px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    color: #fff; }

/* Services */

.main {
    margin: 0 40px;
    padding: 80px 0;
    background-color: #fff;
}

.section-title {
    padding: 40px 0;
}

.ikon i {
    margin: 0;
    padding: 0;
    font-size: 30px;
    background: #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    color: #f0932b;
    border: 3px solid #f0932b;
    border-radius: 50%; }

/* Gallery */

.gallery {
    background-color: aliceblue;
    margin: 0 40px;
    padding: 80px 0;
}

.card-box {
    background-color: #fff;
}

/* Footer */

.footer-section {
    margin: 0 40px;
    padding: 36px;
    background-color: #fff;
}
    
.footer-icons  {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-icons li p {
    font-size: 15px;
}
    
.footer-icons li i {
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
    color:  #ffffff; 
    flex-wrap: wrap;
    line-height: 35px;
}

